<form method="POST" action="">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-8">
                <select class="form-select" aria-label="Default select example">
                    <option selected>Choose the therapist</option>
                    {% for therapist in therapists %}
                        <option value="{{ therapist._id }}">{{ therapist.first_name.capitalize() }}  {{ therapist.last_name.capitalize() }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="col-8">
                <label class="form-label" for="username">Your email address</label>
                <input type="email" class="form-control" id="email" name="email" aria-describedby="email">
            </div>
            <div class="col-8">
                <label class="form-label" for="feedback">Your feedback...</label>
                <textarea class="form-control" id="feedback" name="feedback" aria-label="textarea"></textarea>
            </div>
            <div class="form-check form-switch col-8">
                <span>Would you recommend this therapist?</span>
                <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault">
            </div>
            <div class="row justify-content-center">
                <div class="col-8 text-align-center">
                    <button class="btn btn-primary" type="submit">Add feedback</button>
                </div>
            </div>
        </div>
    </div>
</form>