{% extends 'layout/base.html' %}
{% include 'components/flash_messages/flash-messages.html' %}
{% block content %}
    {% include 'components/navigation/navbar.html' %}
    <div class="row">
        <h1 class="page-header" id="home-h1">WELCOME TO THE</h1>
        <h2  id="home-h2">Therapists Reviewer</h2>
    </div>
    <div class="row">
        <div class="col-12 justify-content-center" id="hero-img">
            <form action="{{ url_for('search') }}" method="Post" class="col-12 col-md-8 text-center" id="search-form">
                <div class="col-12 text-center">
                    <label for="query">Search therapists by location or therapy in Hertfordshire UK</label>
                    <input type="text" class="form-control" id="query" name="query" aria-describedby="search query" required>
                </div>
                <div class="col-12 text-center">
                    <button class="btn btn-primary" type="submit">Search</button>
                </div>
            </form>
        </div>
    </div>
{% endblock %}