{% extends 'layout/base.html' %}
{% block content %}
    {% include 'components/navigation/navbar.html' %}
    {% include 'components/flash_messages/flash-messages.html' %}
        <h2 class="page-header">All Your feedback in one place</h2>
        {% for feedback in feedbacks %}
            <div class="row justify-content-center">
                <div class="col-12 col-md-6 therapist-card">
                    Title: <strong>{{ feedback.title }}</strong> <br>  
                    Review: <strong>{{ feedback.review_description }}</strong> <br>
                    Therapist: <strong>{{ feedback.therapist_id.title() }}</strong> <br>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-6 col-md-3 text-center text-md-center">
                    <a href="{{url_for('update_review', feedback_id=feedback._id)}}" class="btn btn-primary">Edit this review</a>
                </div>
                <div class="col-6 col-md-3 text-center text-md-center">
                    <a href="{{url_for('delete_review', feedback_id=feedback._id)}}" class="btn btn-primary btn-cancel">Delete this review</a>
                </div>
            </div>
            
        {% endfor %}
{% endblock %}