{% extends 'layout/base.html' %}
{% block content %}
{% include 'components/navigation/navbar.html' %}
{% include 'components/flash_messages/flash-messages.html' %}
    <h2 class="page-header">{{ therapist.first_name.capitalize() }} {{ therapist.last_name.capitalize() }}</h2>
    <div class="row justify-content-center">
        <div class="col-12 col-md-6 text-center therapist-img">
            <img class="therapist-img" src="/static/images/therapists/{{therapist.first_name}}_{{therapist.last_name}}.png" alt="therapist's picture">
        </div>
        <div class="col-12 col-md-6 therapist-info">
            <p>
                Email: <strong>{{ therapist.email }}</strong> <br>
                Webpage: <strong><a href="#">{{ therapist.webpage }}</a></strong> <br>
                Main Therapy: <strong>{{ therapist.main_therapy.capitalize() }}</strong> <br>
                Other Therapies: <strong>{{ therapist.other_therapies.capitalize() }}</strong> <br>
                Location: <strong>{{ therapist.location.title() }}</strong> <br>
                <div class="therapist-bio">
                    <h3 class="h3-bio">More info:</h3> 
                    <p>{{ therapist.bio }}</p>
                </div>
            </p>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-8 text-align-center">
            <a class="btn btn-primary" href="{{ url_for('get_therapists') }}">Go back</a>
        </div>
    </div>
    {% for f in feedback %}
        <div class="row">
            <div class="col-12 therapist-card">
                Title: <strong>{{ f.title }}</strong> <br>
                Review: <strong>{{ f.review_description }}</strong> <br>
                Therapist: <strong>{{ f.therapist_id.title() }}</strong> <br>
            </div>
        </div>
    {% endfor %}
{% endblock %}