@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;900&display=swap');

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}
body {
    font-family: 'Lato', sans-serif;
    background-color: #fafafa;
    font-size: 1.6rem;
}


/* pages header */

.page-header {
    font-size: 2.8rem;
    text-align: center;
    margin-top: 35px;
}


/* Navbar */


#nav-brand {
    font-size: 2rem;
}


/* Hero image */


#hero-image {
    width: 100%;
}


/* therapists */


.therapist-card {
    font-size: 2rem;
    border-bottom: 2px solid #949393;
    border-top: 2px solid #949393;
    margin-top: 35px;
    margin-bottom: 35px;
}