@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;900&display=swap');

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}
body {
    font-family: 'Lato', sans-serif;
    background-color: #fafafa;
    font-size: 1.6rem;
}

#hero-image {
    width: 100%;
}