@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;900&display=swap');

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}
body {
    font-family: 'Lato', sans-serif;
    background-color: #fafafa;
    font-size: 2.3rem;
}

/* Home Page */

#home-h1 {
    font-size: calc(3rem + 1.5vw);
}


#home-h2 {
    font-size: calc(2.8rem + .9vw);
    text-align: center;
}

/* Pages Header */

.page-header {
    font-size: calc(2.8rem + .9vw);
    text-align: center;
    margin-top: 3.5rem;
}


/* Navbar */


#nav-brand {
    font-size: 2.3rem;
}


/* Hero image */


#hero-image {
    width: 100%;
}


/* Therapists */


.therapist-card {
    font-size: 2rem;
    border-top: 2px solid #949393;
    margin-top: 3.5rem;
    padding-top: 2rem
}


/* Forms */

.form-control {
    font-size: calc(2rem + .9vw);
}

.form-select {
    font-size: calc(1.8rem + .7vw);
}

.form-container {
    margin-top: 5rem;
}

/* Buttons */

.btn {
    font-size: 2rem;
    margin-top: 2rem;
    background-color: #072ac8;
}

.btn-cancel {
    background-color: #c80707;
    border-color: #fafafa;
}

.btn-cancel:hover {
    background-color: #a30000fa;
    border-color: #fafafa;
}

.btn-cancel:active {
    background-color: #a30000fa;
    border-color: #fafafa;
}

.btn-cancel:focus {
    background-color: #a30000fa;
    border-color: #fafafa;
    box-shadow: 0 0 0 0.25rem #c75353;
}











.product-img{
    height: 30vh;
    width: auto
}