<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="{{ url_for('home') }}" id="nav-brand">Therapists Reviewer</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-md-end" id="navbarNavAltMarkup">
            <div class="navbar-nav flex-row justify-content-around flex-wrap">
                <a class="nav-link" href="{{ url_for('home') }}">Home</a>
                {% if session.user %}
                    <a class="nav-link" href="{{ url_for('logout') }}">Log out</a>
                    <a class="nav-link" href="{{ url_for('leave_feedback') }}">Leave Feedback</a>
                    <a class="nav-link" href="{{url_for('user_profile')}}">Your Profile</a>
                {% else %}
                    <a class="nav-link" href="{{ url_for('register') }}">Register</a>
                    <a class="nav-link" href="{{ url_for('login') }}">Log in</a>
                {% endif %}
                <a class="nav-link" href="{{url_for('get_therapists')}}">Therapists</a>
            </div>
        </div>
    </div>
</nav>