<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% include 'layout/head.html' %}
    <title>Therapists Reviewer</title>
</head>
<body>
    {% for therapist in therapists %}
        {{ therapist.first_name.capitalize() }}<br>
        {{ therapist.last_name.capitalize() }}<br>
        {{ therapist.email }}<br>
        {{ therapist.webpage }}<br>
        {{ therapist.main_therapy.capitalize() }}<br>
        {{ therapist.other_therapies }}<br>
        {{ therapist.location.capitalize() }}<br>
    {% endfor %}
</body>
</html>