<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="#" id="nav-brand">Therapists Reviewer</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-md-end" id="navbarNavAltMarkup">
            <div class="navbar-nav flex-row justify-content-around flex-wrap">
                <a class="nav-link" href="#">Home</a>
                <a class="nav-link" href="#">Log in</a>
                <a class="nav-link" href="#">Log out</a>
                <a class="nav-link" href="#">Therapists</a>
                <a class="nav-link" href="#">Leave Feedback</a>
                <a class="nav-link" href="#">Recommendations</a>
            </div>
        </div>
    </div>
</nav>