<footer>
    <div class="container footer-container">
        <div class="row justify-content-center social-links">
            <div class="col-12 social-icons">
                <a href="https://www.facebook.com/" target="_blank" aria-label="find us on facebook" rel="noopener"><i
                        class="fab fa-facebook-square soc-icon"></i></a>
                <a href="https://www.instagram.com/" target="_blank" aria-label="find us on instagram" rel="noopener"><i
                        class="fab fa-instagram soc-icon"></i></a>
                <a href="https://www.linkedin.com/home" target="_blank" aria-label="find us on linkedin" rel="noopener"><i
                        class="fab fa-linkedin soc-icon"></i></a>
                <a href="https://twitter.com/explore" target="_blank" aria-label="find us on twitter" rel="noopener"><i
                        class="fab fa-twitter-square soc-icon"></i></a>
                </div>
            </div>
    </div>
</footer>