<!--Product 1-->

<div class="row justify-content-center">
    <div class="col-10 col-md-8 justify-content-center">
        <h4>Massage balls</h4>
        <a class="btn btn-primary" data-bs-toggle="collapse" href="#multiCollapseExample1" role="button" aria-expanded="false" aria-controls="multiCollapseExample1">See description</a>
        <p class="collapse multi-collapse" id="multiCollapseExample1">
            PAIN RELIEF – Take pain relief back into your own hands with a kit designed to target your widest range of body tissues:
            Lower and Upper Back, Neck, Shoulders, Glutes, Legs, Knees, Hands and Feet<br>
            YOUR OWN PERSONAL MASSAGE THERAPIST – Save the time and cost of physiotherapy massage treatments with a portable
            solution for your home, work or the gym. Includes: 7cm rubber, spiky and foam roller balls, carrying bag and 40-page
            e-book guide<br>
            RELEASE STRESS AND TENSION – Release stress and tension through penetration of both light and deep muscle tissues using
            self massage, acupressure, reflexology, myofacial and physical therapies
        </p><br>
        <a class="btn btn-primary shop-btn" href="https://www.amazon.co.uk/Plyopic-Massage-Ball-Set-Myofascial/dp/B077MX9MBF/ref=sr_1_6?dchild=1&keywords=massage+ball&qid=1611759155&sr=8-6">Link to Amazon.co.uk</a>
    </div>
    <div class="col-8 col-md-4 justify-content-center">
        <img src="https://images-na.ssl-images-amazon.com/images/I/81iif8nqauL._AC_SL1500_.jpg" class="product-img" alt="">
    </div>
</div>

<!--Product 2-->

<div class="row justify-content-center">
    <div class="col-10 col-md-8 justify-content-center">
        <h4>Resistant bands</h4>
        <a class="btn btn-primary" data-bs-toggle="collapse" href="#multiCollapseExample2" role="button" aria-expanded="false" aria-controls="multiCollapseExample2">See description</a>
        <p class="collapse multi-collapse" id="multiCollapseExample2">
            Durable and Elastic Band Semetor workout resistance bands are made of 100% Eco-friendly natural latex, skin-friendly,
            non-toxic with long-lasting durability, more elasticity and soft touch.<br>
            Different Resistance Levels Semetor workout resistance bands offer a lot of versatility with 2 levels of resistance:
            Yellow&Purple -15lbs, Red&Blue - 20lbs. You can easily tailor your training depending on your strength, ability and
            comfort.<br>
            It's a perfect choice for Yoga, Pilates, Fitness, Stretch
            Training, Losing Weight, Physical Therapy, Rehabilitation, Wrestling, Bodybuilding, Increase Flexibility.
            self massage, acupressure, reflexology, myofacial and physical therapies
        </p><br>
        <a class="btn btn-primary shop-btn" href="https://www.amazon.co.uk/Resistance-Exercise-Skin-Friendly-Carrying-Strength/dp/B0861C14XX/ref=sr_1_11?dchild=1&keywords=elastic+exercise+bands&qid=1611760420&sr=8-11">Link to Amazon.co.uk</a>
    </div>
    <div class="col-8 col-md-4 justify-content-center">
        <img src="https://images-na.ssl-images-amazon.com/images/I/61AzizEjqAL._AC_SL1000_.jpg" class="product-img" alt="">
    </div>
</div>

<!--Product 3-->

<div class="row justify-content-center">
    <div class="col-10 col-md-8 justify-content-center">
        <h4>Foam Roller</h4>
        <a class="btn btn-primary" data-bs-toggle="collapse" href="#multiCollapseExample3" role="button" aria-expanded="false" aria-controls="multiCollapseExample3">See description</a>
        <p class="collapse multi-collapse" id="multiCollapseExample3">
            FEEL CONFIDENT ON TOP OF YOUR GAME ! Our trigger point foam roller is a very clever piece of fitness equipment and as
            such we want you to know how to use it properly. In order for you to feel the benefits fast we include a physical ring
            bound exercise guide containing 10 of the best foam roller exercises to get you started. Plus we also include our 2 most
            popular foam rolling eBooks access to our 10 lesson online video course.
        </p><br>
        <a class="btn btn-primary shop-btn" href="https://www.amazon.co.uk/Resistance-Exercise-Skin-Friendly-Carrying-Strength/dp/B0861C14XX/ref=sr_1_11?dchild=1&keywords=elastic+exercise+bands&qid=1611760420&sr=8-11">Link to Amazon.co.uk</a>
    </div>
    <div class="col-8 col-md-4 justify-content-center">
        <img src="https://images-na.ssl-images-amazon.com/images/I/81GJOvgQZPL._AC_SL1500_.jpg" class="product-img" alt="">
    </div>
</div>